<p style="text-align: center;">
    <strong>Welcome to Aiplay-Mall</strong><br/>
</p>
<p>
    <strong><br/></strong>
</p>
<p style="text-align: center;">
    <strong>&nbsp;<img src="http://img95.699pic.com/element/40017/7590.png_860.png" width="200" height="200" title="爱玩" alt="爱玩"/></strong>
</p>
<p>
    <strong><br/></strong>
</p>
<p style="text-align: center;">
    You this enough to buy the name of the game is  <%= goods %>;
</p>
<p style="text-align: center;">
    &nbsp;The activation code is <%= code %>;
</p>
<p style="text-align: center;">
    &nbsp;Please activate it as soon as possible
</p>